<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (distribuidora(); as distribuidoraRef) {
      <div>
        <h2 data-cy="distribuidoraDetailsHeading"><span jhiTranslate="distribuidoraApp.distribuidora.detail.title">Distribuidora</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.id">Id</span></dt>
          <dd>
            <span>{{ distribuidoraRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.nome">Nome</span></dt>
          <dd>
            <span>{{ distribuidoraRef.nome }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.cep">Cep</span></dt>
          <dd>
            <span>{{ distribuidoraRef.cep }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.cidade">Cidade</span></dt>
          <dd>
            <span>{{ distribuidoraRef.cidade }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.bairro">Bairro</span></dt>
          <dd>
            <span>{{ distribuidoraRef.bairro }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.rua">Rua</span></dt>
          <dd>
            <span>{{ distribuidoraRef.rua }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.numero">Numero</span></dt>
          <dd>
            <span>{{ distribuidoraRef.numero }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.referencia">Referencia</span></dt>
          <dd>
            <span>{{ distribuidoraRef.referencia }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.estado">Estado</span></dt>
          <dd>
            <span>{{ distribuidoraRef.estado }}</span>
          </dd>
          <dt><span jhiTranslate="distribuidoraApp.distribuidora.detalhes">Detalhes</span></dt>
          <dd>
            <span>{{ distribuidoraRef.detalhes }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/distribuidora', distribuidoraRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
